* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

header {
    background-color: #E7E7E7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;
    padding: 10px;
}

input::placeholder {
    color: white;
}


nav a li {
    text-decoration: none;
}

ul#nav {
    display: flex;
    gap: 30px;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

ul#nav>a {
    color: #02731E;
    text-decoration: none;
    font-size: 18pt;
    opacity: 0.5;
    border-bottom: 2px solid #02731E;
}

ul#nav>a:hover {
    color: #02731E;
    text-decoration: none;
    font-size: 18pt;
    opacity: 1;
    transition: 0.5s;
    scale: 1.1;
}

#bemVindo {

    width: 100%;
    background-color: #E20A0D;
}

#benVindo img {
    width: 100%;
    height: 100%;
}

.center {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#dias {
    display: flex;
    gap: px;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    text-align: center;
    background-color: #E20A0D;
    height: 20vw;

}

#dias>li {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100px;
    margin: 20px auto;
}

p.dias {
    width: 100%;
    color: #E20A0D;
    background-color: white;
    font-weight: bold;
    border-radius: 15px 15px 0px 0px;
    height: 5vw;
    text-align: center;
    padding: 20px;
    margin-top: -60px;
}


.itemDias {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    height: 200%;
}


h3#Ofertas {
    background-color: #E20A0D;
    color: white;

}

/*====    Imagens dias    ====*/

.dias1 {
    height: 110%;
}

.dias2 {
    height: 110%;
}

.dias3 {
    height: 101%;
}

.dias4 {
    height: 110%;
}

.dias5 {
    height: 92%;
}

/*====    sessão2    ====*/

.sessão2 {
    background-color: #E20A0D;
    text-align: center;
    color: #E7E7E7;
    display: flex;
    justify-content: space-around;
}

.endereco {
    background-color: #ffffff;
    width: 900px;
    height: 200px;
    margin: 40px auto;
    color: #E20A0D;
    border-radius: 15px;
    display: flex;
}

.textoEnderecos {
    height: 200px;
    flex-direction: column;
    padding: 25px;
}

.KunzAv {
    width: 40%;
    border-radius: 20px;
    height: 190px;
    margin: 5px;
}

.imagensEnderecos {
    flex: auto;
    height: 190px;
    margin: 5px;
}


.anotherimg {
    width: 30%;
}

.clube {
    padding: 5%;
    background-color: #ffffff;
    width: 800px;
    height: 600px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.sessao3 {    
    margin-top: -4%;
    background-image: linear-gradient(#303A21, #346837);
}

.logoclube {
   margin-left: 10%;
    width: 80%;
    height: 23%;
}

.input-form {
    background-color: #94C798;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    border: none;
    font-size: large;
    padding: 5%;
}

.td-form {
    padding: 4%;
}

.cadastro{
    border: none;
    color: white;
    background-color: #DEB501;
    padding: 5%;
    border-radius: 7px;
}